header.virsus{
background-color: #669999;
border-radius: 15px;
}
.virsustxtl{
display: inline-block;
font-size: 60px;
}
.virsustxtr{
display: inline-block;
font-size: 60px;
float: right;
}
.korteles{
width: 1800px;
}
body{
background-color: #666699;
}
img{
width: 600px;
height: 400px;
}
.rastas{
color: black;
font-size: 20px;
text-align: left;
float: top;
}
h2.sarasas{
font-size: 60px;
}
.listas{
font-size: 30px;
}
.nice{
margin-top: 20px;
}
