.pirmas{
    background-color:black;
    color: white;padding:20px;
    width: 500px;
    display: inline-block;
}
img{
    width: 300px;
    display: inline-block;
}
.antras{
    background-color: grey;
    width: 320px;
}
.trecias{
    background-color: pink;
    width: 1000px;
    margin: auto;
    display: inline-block;
}